<div *ngFor="let user of Users">
  <ul>
    <li *ngIf="user.age > 20">
        {{ user.firstname }} {{ user.lastname }} is {{ user.age }} years old
    </li>
  </ul>
</div>

<hr>

<h1>Date is passed from App.component to User.component</h1>
<div *ngFor = "let user of Users2">
  <div>
    <app-user [inputData]="user"></app-user>
  </div>
</div> 
<hr>

<h1>Date is passed from User.component to App.component</h1>
<app-user (inputDataChange)="onInputDataChange($event)"></app-user>
<div *ngFor="let user of Users3">
  <div>
    <p>First Name: {{ user.Id }}</p>
    <p>First Name: {{ user.Firstname }}</p>
    <p>Last Name: {{ user.Lastname }}</p>
    <p>Date of Birth: {{ user.DateOfBirth }}</p>
    <p>Phone Number: {{ user.PhoneNumber }}</p>
    <p>Email: {{ user.Email}}</p>
  </div>
</div>

<hr>
<h1>Reactive Form</h1>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>First Name:</label>
  <input type="text" formControlName="Id">
  <label>First Name:</label>
  <input type="text" formControlName="Firstname">

  <label>Last Name:</label>
  <input type="text" formControlName="Lastname">

  <label>Date of Birth:</label>
  <input  type="email" formControlName="DateOfBirth">

  <label>Phone:</label>
  <input type="tel" formControlName="PhoneNumber">

  <label>Email:</label>
  <input type="tel" formControlName="Email">

  <button type="submit">Submit</button>
</form>
